<ul>
    {% for category in categories %}
        <li>
            <div class="category-box">
                <div class="category-title" onclick="toggleCategory(this)"
                     style="display: flex; justify-content: space-between; align-items: center; flex-wrap: nowrap;">
                    <div style="display: flex; align-items: center; flex-grow: 1; min-width: 0;">
                        <span class="toggle-icon">+</span>
                        <span style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ category.name }}</span>
                    </div>
                    <div style="margin-left: 10px;">
                        <a href="{% url 'update_category' category.id %}">Edit</a> |
                        <a href="{% url 'delete_category' category.id %}" class="delete-link">Delete</a>
                    </div>
                </div>
                <div class="category-content">
                    <div class="button-container">
                        {% load custom_filters %}
                        {% for item in category.items.all|sort_items_by_title %}
                            <button class="selectable-button"
                                    onclick="toggleSelect(this, '{{ category.type|escapejs }}', '{{ item.value }}')">
                                {{ item.title }}
                            </button>
                        {% endfor %}
                    </div>
                    <a href="{% url 'manage_items' category.id %}">Manage Items</a>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>