<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Category Items</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 20px;
        }

        ul {
            list-style-type: circle;
            padding: 0;
        }

        li {
            font-size: 1.5rem;
        }
    </style>
</head>
<body>
<div class="container">
    <a href="{% url 'manage_items' category.id %}"><h3>Back</h3></a>
    <div style="height: 20px;"></div>
    <div>
        <h1>Edit Item:</h1>
    </div>
    <div style="height: 20px;"></div>
    <div>
        <form method="post" action="{% url 'update_item' category.id item.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
    <div style="height: 20px;"></div>
    <div style="height: 20px;"></div>
</div>
</body>
</html>
